# Visual Paradigm
.vpprefdata/
*.vpp~
*.vpp.working
*.vpp.working-journal
*.vpp.lock

# Temporary files
bin/
Project/app/bin/
Project/app/build/
Project/build/

# macOS
.DS_Store

# IntelliJ / IDEA
.idea/
.vscode/

# H2 DB
Project/data/
data/
