# Visual Paradigm
.vpprefdata/
*.vpp~
*.vpp.working
*.vpp.working-journal
*.vpp.lock

# Temporary files
bin/
Project/app/bin/
Project/app/build/
Project/build/

# macOS
.DS_Store

# IntelliJ / IDEA
.idea/workspace.xml
.idea/tasks.xml


# H2 DB
Project/data/
